.AddEq-main {
    background-color: var(--colorpage);
}

.Add_name {
    position: absolute;
    top: 80px;
    left: 240px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
}
.addEq-form {
    position: absolute;
    width: 1180px;
    height: 490px;
    left: 224px;
    top: 135px;

    /* White */

    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.avata-addEq {
    position: absolute;
    width: 248px;
    height: 248px;
    left: 24px;

    border-radius: 318px;
}
.name-addEq {
    position: absolute;
    width: 186px;
    height: 36px;
    left: 55px;
    top: 267px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #282739;
}
.camera-addEq {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 195px;
    top: 206px;
}
.addSv-group {
    position: absolute;
    left: 26px;
    top: 60px;
    display: flex;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.addEq-group p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.addEq-group p::after {
    content: "*";
    color: #ff4747;
}
.textaddEq {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
    padding: 12px 16px;
    width: 540px;
    height: 44px;
    background-color: #ffffff;
    border: 1.5px solid #d4d4d7;
    border-radius: 8px;
}
.textaddEqSv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
    padding: 12px 16px;
    width: 1104px;
    height: 44px;
    background-color: #ffffff;
    border: 1.5px solid #d4d4d7;
    border-radius: 8px;
}

.addSv_warning {
    position: absolute;
    width: 300px;
    height: 21px;
    left: 27px;
    top: 468px;

    /* 14/14 Reg */

    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Gray/$-gray-300 */

    color: #7e7d88;
}
.addSv_warning::before {
    content: "*";
    color: #ff4747;
}
.addEq_btn {
    position: absolute;
    left: 600px;
    bottom: 10px;
    display: flex;

    padding: 10px 24px;
    gap: 40px;
}
.addEq_Add {
    width: 147px;
    height: 48px;

    background: #ff9138;
    /* down */
    color: white;
    border: 1.5px solid white;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px;
}
.addEq_No {
    box-sizing: border-box;

    /* Auto layout */

    width: 147px;
    height: 48px;

    /* Orange/$-Orange-50 */

    background: #fff2e7;
    /* Orange/$-Orange-400 */

    border: 1.5px solid #ff9138;
    /* down */
    color: #ff9138;

    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px;
}
.imgList {
    padding-right: 7px;
    padding-bottom: 2px;
}
.addSv_number{
    margin-top: -50px;
}
.addSv_number p {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
}
.my_checkbox {
    display: flex;
    gap: 20px;
}
.addSv_Checkbox {
    gap: 20px;
}
.addSv_Checkbox input[type="text"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 12px;
    position: absolute;
    left: 150px;
    width: 61px;
    height: 34px;
    background: #ffffff;
    /* Gray/$-gray-100 */

    border: 1.5px solid #d4d4d7;
    border-radius: 8px;
}

.my_checkbox_update span {
    position: absolute;
    left: 234px;
    bottom: 160px;
}
.addSv_Checkbox label {
    margin-left: 30px;
}
.addSv_Checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.box_check {
    position: absolute;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    background: #ffffff;
    box-sizing: border-box;
    margin-right: 20px;
    border: 1.5px solid #4277ff;
    border-radius: 4px;
}
.box_check.checked {
   
    background-color: blue;
  }
  .checkmark{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.textaddEq1 {
    padding: 0px 0px 80px 12px;
    margin-bottom: 50px;
    width: 553px;
    height: 132px;
    background: #ffffff;
    margin-top: -10px;
    border: 1.5px solid #d4d4d7;
    border-radius: 8px;

    /* Inside auto layout */
}
