.List_name {
    color: var(--colormainBold);
}
.ListEq_form {
    position: absolute;
    top: 100px;
    left: 240px;
    display: flex;
    flex-direction: column;

    width: calc(100% - 240px);
}
.List_name {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
}
.Table_Status {
    width: calc(100% - 183px);
}
.List_status {
    display: flex;

    justify-content: space-between;
    flex-direction: wrap;
}
.List_status p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Gray/$-gray-500 */

    color: #282739;
}
.Status_full {
    display: flex;
    flex-direction: wrap;
    gap: 24px;
}
.pageNext {
    color: blue;
   
}
.pageNext a :hover {
    cursor: pointer;
    text-decoration: underline;
}
.select_menu .list {
    margin-top: 1px;
    left: -31px;
    position: absolute;
    width: 330px;   
}
.list .option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    background: #fff;
    padding: 0px 10px;
    cursor: pointer;
  
}
.list .option:hover{
    background: #FFF2E7;
}
.list .option:nth-child(1)
{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.list .option:nth-child(3)
{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.select_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;

    padding: 10px 12px;

    width: 300px;
    height: 44px;

    /* white */

    background: #ffffff;
    /* Gray/$-gray-100 */

    border: 1.5px solid #d4d4d7;
    border-radius: 8px;
}
.select_menu {  
    z-index: 1;
  }
  
  .list {
    list-style: none;
    display: none;    
    z-index: 2;
  }
  .select_menu_open .list {
    display: block;
  } 

.select_menu_open .icon-wrap{
    transform: rotate(180deg);
}
.select_menu_open2 .list {
    display: block;
  } 
  .select_menu2 {  
    z-index: 1;
  }
  .select_menu_open2 .icon-wrap{
    transform: rotate(180deg);
}
  .list {
    list-style: none;
    display: none;    
    z-index: 2;
  }
.select_menu2 .list {
    margin-top: 1px;
    left: 293px;
    position: absolute;
    width: 330px;

    border-radius: 20px;
}
.Search_Eq {
    margin-left: -50px;
}
.Search_btn img {
    position: absolute;
    top:100px;
    right: 200px;
}
.btnAddEuq {
    position: absolute;
    top: 250px;
    right: 1px;
    margin-top: -94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;

    background: #fff2e7;
    /* down */

    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    width: 73px;
    height: 94px;
}
.btnAddEuq p {
    font-weight: 600;
    font-size: 14px;
    color: var(--colormainBold);
    text-align: center;
}
.Table_Euq table {
    margin-top: 20px;
    border-radius: 10px;
}
.Table_Euq th {
    background-color: var(--colormain);
    color: white;
    border: 1px solid white;

    height: 49px;
    padding-left: 10px;
}
.thEuq {
    border-top-left-radius: 8px;
}
.thEuqEnd {
    border-top-right-radius: 8px;
}
.Table_Euq td {
    height: 49px;
    border: 1px solid white;
    border-right: 1px solid var(--colormain);
    
    padding-left: 10px;
}

 .Detail_ListEq{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
    
 } 
 .Detail_ListEq:hover{
    cursor: pointer;
    color: var(--bs-primary-text-emphasis);
 }
  
 .Search_btn input{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    /* Auto layout */

    display: block;
    flex-direction: row;

    padding: 10px 12px;

    width: 300px;
    height: 44px;

    /* white */

    background: #ffffff;
    /* Gray/$-gray-100 */

    border: 1.5px solid #d4d4d7;
    border-radius: 8px;
 }
 .previous  {
    text-indent: -9999px;
    color: white;
    background-image: url("../../../assets/Vectorleft.png"); /* replace with your icon image */
    background-repeat: no-repeat;
    background-position: center;
     margin-right: 10px;
 }

.next {
    display: none;
  background-image: url("../../../assets/Vectorleft.png"); /* replace with your icon image */
  background-repeat: no-repeat;
  background-position: right center;
  margin-left: 10px;
  transform: rotate(180deg);
} 
.pagination{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.active>.page-link, .page-link.active{
    background: #ff7506;
}



 