.menubar {
    position: relative;
    width: 200px;
    height: 700px;

    /* White */

    background: #ffffff;
    /* Dropdown */

    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}
.logomain {
    position: absolute;
    width: 80px;
    height: 64px;
    left: 60px;
    top: 32px;
}
.nav {
    position: absolute;
    
    height: 48px;
    left: 0px;
    top: 150px;

    border-radius: 8px;
}
.nav-link {
    width: 200px;
    margin-top:10px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;

    color: #7e7d88;

    /* Inside auto layout */
}
.nav-link:hover{
    background-color: #FF7506;
    color: white;
}
.nav a.active{
    color: white;
    background-color: #FF7506;
}
.logout {
    position: absolute;
    width: 200px;
    height: 46px;
    left: 0px;
    top: 630px;
}
.btnlogout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    border: 2px solid white;
    position: absolute;
    width: 176px;
    height: 48px;
    left: 12px;
    top: 0px;

    /* Orange/$-Orange-50 */

    background: #fff2e7;
    border-radius: 8px;
    color: var(--colormain);
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
  }
  
  .dropdown-menu.show  {
    display: block;
    left: 200px;
    top: 11px;
    height: 128px;
    width: 200px;
    border-radius: 0px 12px 12px 0px;
  }
  
  .dropdown-menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dropdown-menu li {
    
    margin-top: -8px;
    padding: 7px 16px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: var(--colormainBold);
    color: white;
    border-radius: 0px 12px 0px 0px;
    
  }
  .dropdown-item{
    
    padding-top: 5px;
    height: 11px;
    padding-left: 10px;
    
  }
  .dropdown-item:hover{
    
    background-color:  var(--colormainBold);
    color: white;
  }
 
.link_nav:hover 
{ 
  text-decoration: none;
}
 
   

