* {
  font-family: "Nunito";
  font-style: normal;
  font-size: 18px;
}
:root {
  --colormain: #ff9138;
  --colorpage: #F7F7F7;
}
p {
  height: 27px;

  /* 18/18 Reg */

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  color: #37474f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
input{
  maxlength:1000px;
}
